{
  "storage": {
    "path": "$HOME/.config/librt/storage.db"
  },
  "accounts": [
    {
      "name": "Account 1",
      "network": "eip155:42",
      "mnemonic": "",
      "node": "http://hardhat:8545"
    }
  ],
  "wallet": {
    "walletConnect": {
      projectId: "",
      relayUrl: "wss://relay.walletconnect.com",
      metadata: {
        name: "librt-wallet",
        description: "librt-wallet",
        url: "https://walletconnect.com/",
        icons: [],
      },
    }
  }
}
